{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Base Template</title>
        {% include 'base/css.html' %}
        {% block base_head %}{% endblock %}
    </head>
    <body>
      {% include 'base/navbar.html' with brand_name='eCommerce' %}
      <div class='container'>
      {% block content %}{% endblock %}
    </div>

      {% include 'base/js.html' %}
      <script type="text/javascript">
        $(document).ready(function(){
          let productForm = $(".form-product-ajax") // #form-product-ajax
          productForm.submit(function(event){
            event.preventDefault();

            let thisForm = $(this);
            let actionEndPoint = thisForm.attr("action");
            let httpMethod = thisForm.attr("method");
            let formData = thisForm.serialize();

            let ajaxCall = $.ajax({
              url: actionEndPoint,
              method: httpMethod,
              data: formData,
            });
            
            ajaxCall.done(function(data){
              console.log("success");
              console.log(data);
              let submitSpan = thisForm.find('.submit-span');
              if(data.added){
                submitSpan.html("In cart <button type='submit' class='btn btn-info'>Remove?</button>");
              } else {
                submitSpan.html("<button type='submit'  class='btn btn-success'>Add to cart</button>");
              }

            });
            
            ajaxCall.fail(function(errorData){
              console.log("error");
              console.log(errorData);
            });

          });
        });
      </script>
    </body>
  </html>